
div.pager-top {
	display: none;
}

.pager-bottom {
	display: inline-block;
	padding-left: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: .25rem;
}

.pages.page {

	&:first-child {
		margin-left: 0;
		border-bottom-left-radius: .25rem;
		border-top-left-radius: .25rem;
	}
	&:last-child {
		border-bottom-right-radius: .25rem;
		border-top-right-radius: .25rem;
	}

}
.pages .selected-page.page {
	&,
	&:focus,
	&:hover {
		z-index: 2;
		color: $color-white;
		cursor: default;
		background-color: $color-blue;
		border-color: $color-blue;
	}
}


.pages .page,
.mp-controls .control {
	position: relative;
	float: left; // Collapse white-space
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: $color-blue;
	text-decoration: none;
	background-color: $color-white;
	border: 1px solid #ddd;

	&:focus,
	&:hover {
		color: darken($color-blue, 15%);
		background-color: lighten(#000, 93.5%);
		border-color: #ddd;
	}
}

.pager .controls{
	display: inline-block;
}
.pager .next-controls{
	margin-left:4px;
}
.pager .prev-controls{
	margin-right:4px;
}

.pager-search-results {
	.pager-top,
	.pager-bottom {
		text-align: center;
		margin: 15px 0;
	}
}

.column-visibility button.miwt_button{
	&:active {
		background: transparent url(/resources/all/docroot/miwt/component/images/view.gif) no-repeat center;
	}
	&:hover {
		background-position: center;
		transition: none;
	}
}