@font-face {
  font-family: 'FontAwesome';
  src: url("/files/design/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("/files/design/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"),
  url("/files/design/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"),
  url("/files/design/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"),
  url("/files/design/fonts/fontawesome-webfont.ttf") format("truetype"),
  url("/files/design/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.vendor-locations-ui .miwt-collapsable.shown .miwt-collapsable-content {
  position: relative !important;
  opacity: 1;
}

.vendor-locations-ui .miwt-collapsable.hidden .miwt-collapsable-content {
  opacity: 0;
}

.vendor-locations-ui .miwt-collapsable.hidden .btn.trigger:before {
  font-family: "FontAwesome";
  content: "\f138";
  padding: 5px 5px 5px 0;
}

.vendor-locations-ui .miwt-collapsable.shown .btn.trigger:before {
  font-family: "FontAwesome";
  content: "\f13a";
  padding: 5px 5px 5px 0;
}

.vendor-locations-ui .btn.trigger {
  width: 75%;
  text-align: left;
  background: -webkit-linear-gradient(top, #478bbc 0%, #3f7daa 49%, #396f96 100%) !important;
  background: linear-gradient(to bottom, #478bbc 0%, #3f7daa 49%, #396f96 100%) !important;
  color: white !important;
  margin-top: 5px;
}

.vendor-locations-ui span.btn.trigger {
  background: transparent !important;
}

.vendor-locations-ui .persistence_actions {
  float: right;
}

.vendor-locations-ui .client-location-column {
  width: 25%;
  display: inline-block;
  font-weight: bold;
}

.vendor-locations-ui .client-location-add {
  display: block;
  margin-top: 10px;
}

.vendor-locations-ui .client-location-column select {
  max-width: 210px !important;
  width: 98%;
}

.vendor-locations-ui .ap-ten-add-button .btn {
  border: 2px dotted #478bbc;
  color: #478bbc;
  font-weight: bold;
  background: transparent;
  margin: 5px 0 5px 0;
  width: 75%;
}

.vendor-locations-ui .ap-ten-add-button .btn.editing {
  border: 2px dotted gray;
  color: gray;
}

.vendor-locations-ui .ap-ten-add-button .btn:before {
  font-family: "FontAwesome";
  content: "\f067";
  padding: 5px 5px 5px 0;
}

.vendor-locations-ui .miwt-collapsable-content label {
  font-weight: bold;
}

.vendor-locations-ui .address_form div.address_line {
  width: 50% !important;
  padding-right: 10px;
}

.vendor-locations-ui .lawson-contact-ui .name_form .part {
  padding-left: 0;
  width: 50%;
}

.vendor-locations-ui div.miwt-collapsable-content {
  margin-top: 5px;
  margin-bottom: 10px;
}

.vendor-locations-ui select:disabled,
.vendor-locations-ui .ap-ten-add-button button:disabled,
.vendor-locations-ui .remit-to-ui button:disabled, .purchasing-contact-ui button:disabled {
  cursor: not-allowed;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: black;
  margin-left: -3px;
}

.vendor-locations-ui .select2-container--disabled .select2-selection__arrow {
  display: none;
}

.vendor-locations-ui .select2-container--disabled .select2-selection {
  background: transparent !important;
  border: none;
}

.vendor-locations-ui .select2-container--disabled .select2-selection__rendered {
  padding: 0 !important;
}

.vendor-locations-ui .ap-ten-add-button {
  border-bottom: 1px dotted #d0d0d0;
  padding-bottom: 20px;
  clear: both;
}

.vendor-locations-ui .message-container.empty {
  margin: 0 !important;
}

.vendor-locations-ui .no-close-btn .ui-dialog-titlebar-close {
  display: none;
}

.vendor-locations-ui div .client-location-column {
  padding-top: 5px;
  text-decoration: underline;
}

.vendor-locations-ui .client-location-column button {
  min-width: 70px;
}

.vendor-locations-ui .miwt-collapsable-content .message-container {
  clear: both;
}

.vendor-locations-ui .disabled-div {
  opacity: 0.4;
}

.vendor-locations-ui .remit-to-ui .name_form .middle_container,
.vendor-locations-ui .purchasing-contact-ui .name_form .middle_container {
  padding-left: 0 !important;
}

.vendor-locations-ui .remit-to-ui .name_form .part,
.vendor-locations-ui .purchasing-contact-ui .name_form .part {
  display: block;
}

/** Profile Pages **/
.profile-view .vendor-locations-ui .ap-ten-add-button,
.profile-view .vendor-locations-ui .miwt-collapsable,
.vendor-locations-ui .vendor_information .ap-ten-add-button,
.vendor-locations-ui .vendor_information .miwt-collapsable {
  max-width: 1000px;
}

.profile-view .vendor-locations-ui .client-location-column,
.vendor-locations-ui .vendor_information .client-location-column {
  width: 15%;
}

.vendor-locations-ui .client-location-column .select2-container--pt.select2-container--disabled .select2-selection--single,
.vendor-locations-ui .client-location-column .select2-container--pt.select2-container--disabled
.select2-selection--single .select2-selection__arrow,
.vendor-locations-ui .vendor_information .select2-container--pt.select2-container--disabled .select2-selection--single,
.vendor-locations-ui .vendor_information .select2-container--pt.select2-container--disabled
.select2-selection--single .select2-selection__arrow {
  background-color: #d2d2d2;
}

.vendor-locations-ui .remit-to-ui .property_wrapper .prop,
.vendor-locations-ui .purchasing-contact-ui .property_wrapper .prop {
  width: 80%;
}

.vendor-locations-ui .remit-to-ui .property_wrapper .prop > label,
.vendor-locations-ui .remit-to-ui .property_wrapper .prop > .label,
.vendor-locations-ui .purchasing-contact-ui .property_wrapper .prop > label,
.vendor-locations-ui .purchasing-contact-ui .property_wrapper .prop > .label {
  width: 150px;
}

.vendor-locations-ui .remit-to-ui .user_entry_required > label,
.vendor-locations-ui .remit-to-ui .user_entry_required > .label,
.vendor-locations-ui .purchasing-contact-ui .user_entry_required > label,
.vendor-locations-ui .purchasing-contact-ui .user_entry_required > .label {
  background-position: 96% 4%;
}
