/* MIWT Tables */
.miwt-table {
    border: 1px solid #dddddd;
    width: 100%;
    border-collapse: separate;
    margin: 20px 0;
}

.miwt-table th {
    background-color: #f0f0f0;
    border-top: 1px solid #fff;
    border-bottom: 3px solid #ddd;
    color: #555;
    font-weight: normal;
    text-transform: uppercase;
    padding: 5px;
    text-align: left;
}

.miwt-table th a {
    color: #00bae9;
    text-decoration: none;
}

.miwt-table th.control {
    text-align: right;
    width: 1%;
    white-space: nowrap;
}

.miwt-table .action_column {
    text-align: right;
}

.miwt-table tbody td {
    padding: 5px;
    border-bottom: 1px dotted #ddd;
    background-color: #fff;
}

.miwt-table tbody .odd td {
  background-color: #F9F9F7;
}

.miwt-table tbody tr:hover td {
  background-color: #feffdd;
}

.miwt-table tbody td.action_column {
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

.miwt-table td .actions {
    margin: 0;
    white-space: nowrap;
}

.miwt-table .btn {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form_field table,
table.phone_number_nanp {
  width: auto;
}

.miwt-table th.first-column{
  padding-left: 5px;
}
.miwt-table th.last-column{
  padding-right: 5px;
}

.miwt-table td.first-column{
  max-width: 230px;
}
.miwt-table td.last-column .row_actions,
.miwt-table td.last-column .actions {
  white-space: nowrap;
}

.miwt-table td.action-column,
.miwt-table td.action_column{
  padding: 3px 5px;
  white-space:nowrap;
  width:1%;
  text-align:right;
}
.miwt-table th a[data-features~="submit"]{
  color: white;
  text-decoration:none;
  font-weight:bold;
}
.miwt-table th a[data-features~="submit"]:hover {
  text-decoration: underline;
}
/* MIWT Trees. */
.miwt-tree .parent_sibling_following img.tpi,
.miwt-tree .last_sibling img.tpi,
.miwt-tree .sibling_following img.tpi{
  width:14px;
}

.miwt-tree .last_sibling,
.miwt-tree td.sibling_following{
  width:16px;
}
#ie7only .miwt-tree .last_sibling,
#ie7only .miwt-tree td.sibling_following{
  width:1%;
  min-width:16px;
  max-width:16px;
}
.miwt-tree td.parent_last_sibling {
  background: transparent;
  padding:0;
}
.miwt-table th.control {
  padding: 0 5px;
}
.miwt-table div.column-visibility{
  padding-left:0;
}
#ie6only .miwt-table div.column-visibility{
  position: static;
}
#column1 .column-visibility-selector li {
  list-style-type: none;
  font-weight: normal;
}
#column1 .column-visibility-selector ul {
  margin: 0;
  padding: 10px;
}

/* making sure the column headers don't wrap */ 
table th {
  white-space: nowrap;
}

/* fixing overflow problem caused by table nesting */ 
table.miwt-table td table {
  max-width: 220px; 
}
table.miwt-table td table td {
  max-width: 175px;
  word-wrap: break-word;
} 
/* position bulk actions to the right */ 
table + div.actions {
  text-align: right;
}
.search table + div.layout_group.result_actions {
  text-align: left;
}

.miwt_form .actions label, 
.miwt_form .actions select {
  display: inline-block;
  vertical-align: middle;
}

table.miwt-table td .actions button {
  margin: 0;
}

td .row_actions button {
  margin-right: 5px;
}

/*payment tables */ 

table.check_info,
table.credit_card_info {
  width: auto;
}

table.credit_card_info table.expires td {
  display: inline-block;
  width: 120px;
}

/*collapsable */ 
table.miwt-table td .miwt-collapsable.shown table {
  max-width: 300px;
}

table.miwt-table td .miwt-collapsable.shown table td {
  word-wrap: normal;
  white-space: nowrap;
  max-width: 250px;
}
