/** Workspace Styles. */
.workspace div.workspace-actions{
 float:left;
 position: relative;
 top: 4px;
}
.workspace button.show-hide-btn,
.workspace button.show_hide_btn{
 border:none;
 -moz-border-radius:0;
 border-radius:0;
 background: url(/theme/Tabs/navigationslider.gif) no-repeat left bottom;
 font-size:100%; /*For EM calc*/
 height:1.5em;
 overflow:hidden;
 text-indent:-4000em;
 width: 50px;
 padding:0;
}
div.workspace-search,
.task-container div.task{
 -moz-border-radius: 8px;
 border-radius: 8px;
 background-color: #fff;
 border: 1px solid #B9B196;
 padding: 1em;
}
.task-container div.task.tab-container,
div.workspace-ts {
 background-color:transparent;
 border:none;
 padding:0;
}
.workspace-ts div.tasks{
 margin-top:1em;
}
.workspace div.uitask{
 -moz-border-radius: 5px;
 border-radius: 5px;
 background: #fff;
}
div.uitask-manager{
 float:left;
}
.uitask-info label{
 font-weight: bold;  
 width: 8em;
 float: left;
 clear: left;
}
div.uitask-info{
 line-height: 1.25em;
 padding: 5px;
 position: absolute;
 max-width: 35em;
 z-index: 15;
 background: white;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 border: 1px solid #B9B196;
}
#ie6only div.uitask-info,
#ie7only div.uitask-info{
 margin-left: -2em;
 margin-top: 1.5em;
 width: 35em;
}
.uitask-info a.close:before{
  content: '['; }
.uitask-info a.close:after{
  content: ']';
}
.uitask-info a.close{
 float: right;
 padding: .5em .5em .5em 29px;
 background: url(/theme/Actions/24/cancel.png) no-repeat;
}
div.uitask-manager-con{
 padding: .5em .25em;
 margin: .25em;
 border-radius: 10px;
 background-color:whiteSmoke;
 overflow:hidden;
 clear: both;
 zoom:1;
}
div.task_count_0{
 background-color:inherit; /*no worky ie*/
 padding:0;
}
div.sub-uitask-list{
 float:right;
 font-size:.9em;
}
.sub-uitask-list div.sub-uitask-list{
 font-size:.9em;
}
div.uitask{
 float: left;
 border: 1px solid #eee;
 margin: 0 5px 0 2px;
 padding: 2px 4px;
}
.sub-uitask-list div.uitask{
 border:none;
 margin: 1px 3px 0 1px;
 padding: 0px 2px;
}
.sub-uitask-list .uitask.selected{
 border:none;
 border-bottom:1px dotted #ccc;
 -moz-box-shadow:none;
 -webkit-box-shadow:none;
 box-shadow:none;
 /*
 border: 1px dotted #eee;
 -moz-box-shadow:1px 1px 1px rgba(0,0,0,.1);
 -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.1);
 box-shadow:1px 1px 1px rgba(0,0,0,.1);
 */
}
.uitask.selected{
 background: #fff;
 border-color: #aaa;
 -moz-box-shadow:1px 1px 2px rgba(0,0,0,.1);
 -webkit-box-shadow:1px 1px 2px rgba(0,0,0,.1);
 box-shadow:1px 1px 2px rgba(0,0,0,.1);
}
.uitask-type-con,
a.uitask-label,
.uitask .actions{
 opacity: .7;
}
.selected > .uitask-type-con,
.selected > a.uitask-label,
.selected > .actions{
 opacity: 1;
}
/* FOR MSIE because it is so broken that trying to set the opacity triggers a whole slew of bugs that would require hair pulling and 10KiB worth of CSS to deal with. */
#ie7only .uitask-list .selected a,
#ie6only .uitask-list .selected a {
  text-decoration: underline;
}
#ie7only div.uitask,
#ie6only div.uitask{
  height:22px;
}
#ie7only div.sub-uitask-list,
#ie7only .sub-uitask-list div.uitask,
#ie6only div.sub-uitask-list,
#ie6only .sub-uitask-list div.uitask
{
  float:none;
  display:inline;
}
/* end workaround */
a.uitask-label{
 text-decoration: none;
 color: #002;
}
a.uitask-label:hover{
 text-decoration: underline;
}
.uitask-actions button{
 width: 16px;
 height: 16px;
 border: none;
 padding: 1px 2px;
 text-indent: -4000em;
 background-repeat: no-repeat;
 background-color: transparent;
 background-position: left top;
 cursor: pointer;
 cursor: hand;
}
.sub-uitask-list .uitask-actions button{
}
.uitask button.info{
 background-image: url(/resources/all/docroot/cms/icons/x16/info_plus_hover.png);
}
.uitask button.close{
 background-image: url(/resources/all/docroot/cms/icons/x16/close_plus_hover.png);
}
.uitask button:hover{
 background-position: left bottom;
}
#ie6only .uitask button{
 display:inline-block; /*fix msie bugs*/
 font-size: 0px;
 line-height: 0;
}
img.uitask-type{
 width: 22px;
 height: 22px;
}
.sub-uitask-list img.uitask-type{
 width: 20px;
 height: 20px;
}
.sub-uitask-list .sub-uitask-list img.uitask-type{
 width: 18px;
 height: 18px;
}
.uitask button,
img.uitask-type,
a.uitask-label{
 vertical-align: middle;
}
span.uitask-type{
 display: none;
}
